*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    margin: 0;
    padding:0;
    background: linear-gradient(-45deg, #939393, #000000);
    width:100vw;
    height:100vh;
    text-wrap: wrap;
    text-align: center;
    justify-content: center;
}

#hero-name {
    text-transform: uppercase;
    color: white ;
    font-size: 5em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 2px rgb(255, 0, 0);
}
